# Database Configuration - Entorno Local
DB_URL=jdbc:postgresql://localhost:9999/bd_event_manager
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# AWS Configuration (Para producción)
# RDS_ENDPOINT=jdbc:postgresql://your-rds-endpoint.amazonaws.com:5432/bd_event_manager
# RDS_USERNAME=your_rds_username
# RDS_PASSWORD=your_rds_password
# S3_BUCKET_NAME=your-s3-bucket-name
# AWS_REGION=eu-west-1
